<div class="inp-holder"> 
  <input  type={{type}} placeholder="{{label}}" id="{{input_id}}" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
  <span class="warn">{{error_message}}</span>	
  <label for="username">{{label}}</label>
</div> 