					<div class="inp-holder">	
					  <input  type="{{type}}" placeholder="{{placeholder}}" id="{{id}}" pattern="^[A-Za-zА-Яа-яЁё\s]{6,}">
					<label for="password">{{description}}</label>
						<span class="warn" style="opacity: 0; height: 0;">{{_errormessage}}</span>
					</div>	