<div class="main"> 
<form class="auth-reg-form" id="auth-reg-form">
  <h1>{{title}}</h1>
  {{#if isRegistration}}
    {{{atorizationRegistrationEmailInputBlock}}}
    {{{atorizationRegistrationLoginInputBlock}}}
    {{{atorizationRegistrationNameInputBlock}}}
    {{{atorizationRegistrationSecondnameInputBlock}}}
    {{{atorizationRegistrationPhoneInputBlock}}}
    {{{atorizationRegistrationPasswordInputBlock}}}
    {{{atorizationRegistrationPasswordValInputBlock}}}
  {{else}}
    {{{atorizationRegistrationLoginInputBlock}}}
    {{{atorizationRegistrationPasswordInputBlock}}}
  {{/if}}

  {{{regAuthButton}}}
  <div class="form-bottom">
    <a href="{{regAuthLink}}" class="no-akkaunt">{{regAuthLinkTitle}}</a>
  </div>
</form>	
</div>

